<!DOCTYPE html>
<meta charset="UTF-8">
<title>图像切割粘贴器 - 神奇海螺实验室</title>
<meta name="viewport" content="width=device-width,user-scalable=0">
<style>
    img{
        max-width:100%;
    }
    input[type=range]{
        width:70%;
        max-width:400px;
    }
</style>
<div class="app" :data-runing="runing">
    <header>
        <h1>图像切割粘贴器</h1>
        <p>给图像切开再粘上的一个小工具</p>
    </header>
    <div class="output-box">
        <img class="source-image" :src="src" ref="img" @load="generate()">
        <img class="output-image" :src="output" v-if="output">
    </div>

    <div class="ctrl-box" v-if="config" v-cloak>
        <div class="input-box">
            <button @click="chooseFileAndSetImageSrc">选择或粘贴拖拽图片</button>
            <button @click="save">保存图片</button>
        </div>


        <!-- <div class="input-box" style="padding:5px 0;">
            <label>
                <input type="radio" v-model="config.direction" value="horizontal">
                横向
            </label>
            <label>
                <input type="radio" v-model="config.direction" value="vertical">
                纵向
            </label>
        </div> -->

        <div class="input-box">
            <b>分组数</b>
            <input type="range" min=2 max="24" step="1" v-model.number="config.splitCount">
            {{config.splitCount}}
        </div>

        <div class="input-box">
            <b>切刀数</b>
            <input type="range" min=2 max="128" step="1" v-model.number="config.sliceXMinCount">
            {{config.sliceXMinCount}}
        </div>
        <!-- <div class="input-box">
            <h4>sliceYCount</h4>
            <input type="range" min=2 max="24" step="1" v-model.number="config.sliceYMinCount">
            {{config.sliceYMinCount}}
        </div> -->


        <!-- <pre>{{JSON.stringify(config,0,4)}}</pre> -->
    </div>
    <div class="post-box">
        <p>👻 无法正常选择图片请尝试使用自带浏览器！</p>
    </div>
    <footer>
        <div class="copyright">
            <br>
            <a href="https://weibo.com/1197780522/Lmoup2eDs" target="_blank">转发到微博</a>
            <br>
            全做：<a href="https://weibo.com/reiove" target="_blank">@卜卜口</a>
            <br>
            反馈：<a href="https://github.com/itorr/image-split-join" target="_blank">GitHub</a>
            <hr>
            QQ群 <span>335766065</span>
            <br>
            <a href="https://lab.magiconch.com/">神奇海螺实验室</a>
            <hr>
            打赏：<a href="https://lab.magiconch.com/nbnhhsh/sponsor.png" target="_blank">二维码</a>
        </div>
    </footer>

</div>

<script src="https://cdn.bootcss.com/vue/2.6.11/vue.min.js"></script>
<script src="image-split-join.js"></script>
<script src="document.js"></script>